@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@600&family=Fira+Code&family=Ravi+Prakash&family=Source+Code+Pro:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@600&family=Fira+Code&family=Ravi+Prakash&family=Source+Code+Pro:wght@200;300;400&display=swap');
@keyframes animate{
    from{
        text-shadow: 0 0 0px #289aab;
    }
    to{
        text-shadow: 0 0 0px #289aab,
                     0  0 10px #289aab;
    }


}

@keyframes neonize{
    from{
        text-shadow: 
        0 0 4px  #F966D7,
        0 0 10px  #F966D7,
        0 0 30px  #F966D7,
        0 0 50px  #F966D7,
        0 0 70px  #F966D7,
        0 0 90px  #F966D7;
    }
    to{
        text-shadow: 
        0 0 2px  #F966D7,
        0 0 5px  #F966D7,
        0 0 150px #F966D7,
        0 0 25px  #F966D7,
        0 0 35px  #F966D7,
        0 0 45px  #F966D7;

    }
}
*{
    margin: 0;
    padding: 0;
}
*{
    background-color: #080426;
}

.mobnav{
    display: none;
}
.mobile-menu-container{
    display: none;
}
.logo{
    padding: 2% 3%;
    font-family: 'Ravi Prakash';
    font-weight: 400;
    font-size: 48px;
    color: rgba(249, 102, 215, 1);
    text-shadow: 
    0 0 2px  #F966D7,
    0 0 4px  #F966D7,
    0 0 6px  #F966D7,
    0 0 8px  #F966D7,
    0 0 2px  #F966D7,
    0 0 2px  #F966D7,
    0 0 2px  #F966D7,
    0 0 2px  #F966D7;
    animation: animate 1s ease-in-out infinite alternate;
}
.sidebar{
    background-color: #080426;
    width: 200px;

    
   
}
.sidebar nav{
    padding: 3% 9%;
}
.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: 30px 1px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.sidebar nav li a{
    text-decoration: none;
    color:  rgba(249, 102, 215, 1);
    animation: animate 1s ease-in-out infinite alternate;
   
}
.sidebar nav li a:hover{
    transform: translateX(-5px);
    color: white;
}
.main{
    background-color:#080426 ;
    width: 100vw;
}
.container{
    display: flex;

}
.infocontainer{
    background-color: #080426;
    height: 78vh;
    width: 100%;
    margin: 80px auto;
    display: flex;
    justify-content: space-around;
}
.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20%;
   
}
.hi{
    font-size: 85px;
    font-family: Arial, Helvetica, sans-serif;
    color: #419E98;
    animation: animate 1s ease-in-out infinite alternate;
}
.name{
    font-size: 60px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #419E98;
    animation: animate 1s ease-in-out infinite alternate;
}
.web{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #419E98;
    animation: animate 1s ease-in-out infinite alternate;
}
.phrase{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #419E98;
    
    margin-top: 23px;
}
.p{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #419E98;


}
.button{
    margin-top: 34px;
    
    

}
.button button{
    padding: 9px 14px;
    border-radius: 22px;
    color: black;
    background-color: fuchsia;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    
}
.button button:hover{
    background-color: #080426;
    color: fuchsia;
    
}
.devpic img{
    height: 90%;
}
.abtpic img{
    height: 400px;
    width: auto;
    padding-right: 20px 0;
}
.about{
    width: 100%;
    padding: 100px 0px;
   
    margin: 0px 9px;
    
}
.abttxt{
    width: 510px;
    
}
.mainn{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.abttxt h1{
    color: #419E98;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    animation: animate 1s ease-in-out infinite alternate;
}
.abttxt h1:hover{
    color: cornsilk;
    transform: translateY(-10px);
}
.abttxt h3{
    color: #419E98;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
    animation: animate 1s ease-in-out infinite alternate;
}
.abttxt p{
    color: #419E98;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
  
    

}
.workpic img{
    height: 200px;
    width: 300px;
}
.workpicc img{
    height: 200px;
    width: 300px;
}
.work{
    width: 99%;
    padding: 100px 8px;
    background-color: #080426;
}
.wp{
    width: 1130px;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.work h1{
    color: #419E98;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    animation: animate 1s ease-in-out infinite alternate;
    text-align: center;
    padding: 40px 30px ;
}
.work h1:hover{
    color: cornsilk;
    transform: translateY(-10px);
}
.worktxt p{
    color: #419E98;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    margin-top: 20px;
    text-align: center;

}
.worktxt h2{
    color: #419E98;
    text-align: center;
    text-transform: capitalize;
 

}
.wb{
    text-align: center;
    padding: 20px 0;
    height: 50px;
    padding-bottom: 40px;
    
}

.wb button{
    background-color: #419E98;
    padding: 7px 7px;
    border-radius: 20px;
    
}
.services{
    
    width: 100%;
    padding: 10% 0px;

}
.tittle h2{
    color: #419E98;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    animation: animate 1s ease-in-out infinite alternate;
    text-align: center;
    padding: 40px 30px ;
    
}

.tittle h2:hover{
    color: cornsilk;
    transform: translateY(-10px);
}


.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;;
}
.card{
    height: 300px;
    width: 250px;
    padding: 20px 30px;
    border-radius: 20px;
    margin: 19px;
    position: relative;
    overflow: hidden;
    text-align: center;

}
.card:hover{
    color: #419E98;
    transform: translateY(-10px);

}

.card img{
    height: 100px;
    width: 120px;
}
h5{
    color: #419E98;
    font-size: 23px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.pra p{
    color: #419E98;
    font-size: 16px ;
    line-height: 27px;
    margin-bottom: 25px;

}
.contact{
    width: 100%;
    padding: 100px 0px;
    background-color: #080426;
}
.container{
    display: flex;
}
.contactform h1{
    color: #419E98;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    animation: animate 1s ease-in-out infinite alternate;
    text-align: center;
    padding: 40px 30px ;
}
.contactform h1:hover{
    color: cornsilk;
    transform: translateY(-10px);
}
.contactform {
    padding: 0 34px;
    padding-top: 50px;
    font-family:sans-serif ;
    color: #419E98;
    text-align: center;
    
    
}
.in{
    background-color:white ;
    
}
.contactform h2{
    padding-bottom: 20px;

}
.contactform div{
    padding: 10px 0;
}
#emailHelp{
    font-size: 8px;
    color: #289aab;
    margin: 0 5px;
}
.connect{
    font-size: 30px;
    padding: 20px;

}
.contactform  label input{
    color: #419E98;
}
.cb button{
    background-color: #419E98;
}
.cb button {
    color: #000;
}
.sicon ul{
    position: absolute;
    left: 40%;
    display: flex;

}
.sicon ul li{
    list-style: none;
    margin: 30px 15px;
}
.sicon ul li .fab{
    font-size: 34px;
    color: #419E98;
    animation: animate 5s ease-in-out  alternate;
}
.sicon ul li a:hover .fab{
    color: white;
}
.sicon ul li a:hover .fab{
    transform: translate(0,-10%);
    
}

.contactform form button{
    background-color: #419E98;
    border-radius: 40%;
    height: 30px;
    width: 60px;
}
.contactform form button:hover{
    background-color: bisque;
}
.qouate{
    font-size: 30px;
    margin-top: 20px;

}
.footer{
    padding: 9% 5% 90px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3rem;
    all: none;
    background-color: black;
    


}

.footer-cnt{
    color: #419E98;
    margin-bottom: 1.5rm;
    font-size: 25px;
    text-align: center;
    width: 250px;
    background-color: black;
}
.footer-cnt h4{
    background-color: black;
}
.footer-cnt li{
    
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
    text-align: center;
    all: none;
    background-color: black;
    
}
.footer-cnt li a{
    display: block;
    color: #419E98;
    font-size: 20px;
    font-weight: 400;
    transition: all .40s ease;
    text-decoration: none;
    all: none;
    background-color: black;
    

}
.footer-cnt li a:hover{
    transform: translateY(-3px)translateX(-5px);
    color: white;

}
.footer-cnt li:hover{
    transform: translateY(-3px)translateX(-5px);
    color: white;
    
}
.footer-cnt p{
    color: #419E98;
    font-size: 20px;
    line-height: 30px;
    margin: 20px 0;
    all: none;
    background-color: black;
}
.icc{
    all: none;
    background-color: black;
}
.logof{
    background-color: black;
    padding: 2% 3%;
    font-family: 'Ravi Prakash';
    font-weight: 400;
    font-size: 48px;
    color: rgba(249, 102, 215, 1);
    text-shadow: 
    0 0 2px  #F966D7,
    0 0 4px  #F966D7,
    0 0 6px  #F966D7,
    0 0 8px  #F966D7,
    0 0 2px  #F966D7,
    0 0 2px  #F966D7,
    0 0 2px  #F966D7,
    0 0 2px  #F966D7;
    animation: animate 1s ease-in-out infinite alternate;

}
.icc a{
    display: inline-block;
    font-size: 22px;
    color: #419E98;
    margin-right: 17px;
    transition: all .40s ease;
    background-color: black;
    
}
.icc a:hover{
    color: cornsilk;
    transform: translateY(-5px);
}


@media(max-width: 1100px) {
    .devinfo{
        padding-left: 15%;
    }
    .devpic{
        height: 50%;
        padding-top: 30%;
        
    }
    .infocontainer{
        width: 40%;
    }
    .hi{
        font-size: 70px;
    }
    .name{
        font-size: 60px;

    }
    .web{
        font-size: 50px;
    }
    .phrase{
        font-size: 30px;
    }
    .p{
        font-size: 30px;
    }
    .sidebar{
        width: 200px;
    }
   .abttxt{
    width: 450px;
    
}
.card{
    height: 320px;
}
.sidebar nav{
    padding: 60% 5% ;
}


    }

    @media(max-width:800px){
        .mobnav{
            display: contents;
            display: inline;
        }
        
        .logomob{
            padding: 2% 3%;
            font-family: 'Ravi Prakash';
            font-weight: 400;
            font-size: 48px;
            color: rgba(249, 102, 215, 1);
            text-shadow: 
            0 0 2px  #F966D7,
            0 0 4px  #F966D7,
            0 0 6px  #F966D7,
            0 0 8px  #F966D7,
            0 0 2px  #F966D7,
            0 0 2px  #F966D7,
            0 0 2px  #F966D7,
            0 0 2px  #F966D7;
            animation: animate 1s ease-in-out infinite alternate;
        }
        .mobile-menu-container{
            position: fixed;
            height: 100vh;
            width: 100%;
            top: 0;
            left: 100%;
            background-color: black;
            display: flex;
            align-items: center;
            z-index: 200;
            transition: all 400ms ease;


        }
        .mobile-menu-container.active {
            left: 0;
        }
        .mobile-menu-container .close-icon{
            position: fixed;
            top: 32px;
            right: 200px;
            color: white;
            opacity: 0;
            pointer-events: none;
            transition: all 400ms ease;

        }
        .mobile-menu-container.active .close-icon{
            opacity: 1;
            pointer-events: auto;
        }
        .mobile-menu-container ul{
            list-style: none;
            padding-left: 20px;
            padding-right: 110px;
            margin-left: 120px ;
            background-color: black;
        }
        .mobile-menu-container ul li{
            margin: 30px 0;
            text-align: center;
        }
        .mobile-menu-container ul li a{
            color: #F966D7;
            text-decoration: none;
            font-size: 18px;

        }
        .mobile-menu-container ul li a:hover{
            transform: translateY(-3px)translateX(-5px);
            color: white;
        }
        .menu-icon img{
            padding: 2% 20%;
            color: #289aab;
            width: 50px;
        }


        .devpic{
            padding-top: 300%;
            padding-right :20px; ;
        }
        .hi{
            font-size: 50px;
        }
        .name{
            font-size: 40px;
        }
        .web{
            font-size: 30px;
        }
        .phrase{
            font-size: 20px;
        }
        .p{
            font-size: 20px;
        }
        .btns {
            padding-bottom: 40%;
        }
        .infocontainer{
            padding-left: 40%;
        }
        .sidebar{
            display: none;
        }
        .about{
            background-color: #080426;
        }
        .abtpic img{
            height: 300px;
            padding-bottom: 800%;
            padding-left: 130%;
            
            
        }
        .abttxt{
           
            padding-right: 150px;
        }
        .abttxt p{
            font-size: 20px;
            width: 300px;
        }
        .about{
            padding: 180px 0px;

        }
        .wp{
            width: 1130px;
            max-width: 80%;
            margin: 0 auto;
            display: block;
            align-items: center;
            justify-content: space-around;
            padding-left: 20px;
        }
        .box{
            display: block;
            padding-left: 50px;
            min-height: 400px;

        }
        .sicon ul{
            position: absolute;
            left: 20%;
            display: flex;
        }
    }